.menu-icon, .user-img, .search-icon, .voice-search-icon{
    height:30px;
}
.search-box{
    border-radius: 30px;
    /* margin-right: -20px; */
    align-items: center;
    justify-content: center;
    padding-left:-50px;
    margin-left: 5px ;
    margin-right: -15px;
    width:600px !important;
}
.search-bar{
    display: flex; 
    outline: none;
    padding-left:-50px;
    margin-right:auto;
    width:600px !important;
    /* /* margin-left: 5px ;
    margin-right: -15px; */
    justify-content: space-between;
}
.container{
    display: block;
  margin-left: 7px auto;
  margin-right: auto;
  width: 50%;
}
.search-box{
    width:50%;
}
.search-menu {
    padding-right: -20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.google-logo {
	margin-bottom: 2rem;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
